header{
  display: flex;
  justify-content: space-between;
  padding: 10px 50px;
  background-color: #000629;
  color:#fff;
}
header>nav{
  margin-top:25px;
}

.card-container{
  margin:15px;
  height:150px;
  min-width:100px;
  background-color:#000629;
  border:6px solid #000629;
  border-radius: 25px;
  display: inline-block;
}
